/* Cores do Layout (Cabeçalho) */
$primaryColor: #36609b;
$primaryDarkColor: #00376c;
$primaryLightColor: #00376c;
$accentColor: #FFE301;
$accentDarkColor: #e5cc00;
$accentLightColor: #ffeb4d;
$accentTextColor: #000000;
$darkMenuBgColor: #262626;
$darkMenuHoverColor: #444444;



@import '../../sass/layout/_layout';