/* Cores do Sistema (botões) */
$primaryColor: #36609b;
$primaryDarkColor: #00376c;
$primaryLightColor: #00376c;
$accentColor: #FFE301;
$accentDarkColor: #e5cc00;
$accentLightColor: #ffeb4d;
$accentTextColor: #000000;

@import '../sass/theme/_theme';